header{
    position: relative;
}

header img {  
    width:100%;
    display:block;
}

header h1{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%, -50%);
    color:white;
    font-size:60px;
}

nav ul{
    display:flex;
    list-style:none;
    margin:0;
    padding:0;
}

nav li{
    flex:1;
    text-align:center;
    border-right:1px solid gray;
}

nav li:last-child{
    border-right:none;
}

nav a{
    display:block;
    padding:20px;
    text-decoration:none;
    color:black;
}

body{
    background:#b8d9d5;
    margin:0;
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    width:1000px;
    margin:auto;
    background:#d9eceb;
}

.article-image{
    float:left;
    width:250px;
    margin:0 20px 15px 0;
}

footer{
    text-align:right;
    padding:30px 20px;
}

